<html>
    <head>
        <title>Calculator!</title>
        {{ style | safe }}
    </head>
    <body>
        <div id="header">
            <h2>Oil Loop Calculator</h2>
            <div>
                <p>Fuel Based</p>
                <a href="{{ url_for('horBased') }}">HOR Based</a>
            </div>
        </div>
        <section id="calculator">
            <p>Enter fuel, plastic and rubber to calculate.</p>
            {% if form %}
                <form method="POST" action="{{ url_for('fuelBased') }}">
                    {{ form.csrf_token }}
                    {{ form.fuel }}
                    {{ form.plastic }}
                    {{ form.rubber }}
                    <input type="submit" value="Submit">
                </form>
            {% endif %}
            {% if response %}
                <h3>Results</h3>
                <p>Total Oil: {{ totalOil }}</p>
                <p>Refineries making Recycled Plastic: {{ plasticRefineries }}</p>
                <p>Refineries making Recycled Rubber: {{ rubberRefineries }}</p>
            {% endif %}
        </section>
        {{ index | safe }}
    </body>
</html>