<html>
    <head>
        <title>Calculator!</title>
        {{ style | safe }}
    </head>
    <body>
        <div id="header">
            <h2>Oil Loop Calculator</h2>
            <div>
                <p>Fuel Based</p>
                <a href="{{ url_for('horBased') }}">HOR Based</a>
            </div>
        </div>
        <section id="calculator">
            <p>Enter fuel, plastic and rubber to calculate.</p>
            <form method="POST" action="{{ url_for('fuelBased') }}">
                {{ form.csrf_token }}
                {{ form.fuel(pattern="^([0-9]|\.|,)*$", title="Integers and floats only") }}
                {{ form.plastic(pattern="^([0-9]|\.|,)*$", title="Integers and floats only") }}
                {{ form.rubber(pattern="^([0-9]|\.|,)*$", title="Integers and floats only") }}
                <input type="submit" value="Submit">
            </form>
            <p>Scroll down for more information<span id="elipsis"></span></p>
            {% if response %}
                <div id="modal">
                    <div id="modalContent">
                        <h3>Results</h3>
                        <p>Total Oil: {{ totalOil }}</p>
                        <p>Refineries making Recycled Plastic: {{ plasticRefineries }}</p>
                        <p>Refineries making Recycled Rubber: {{ rubberRefineries }}</p>
                        <a href="{{ url_for('fuelBased') }}">Back</a>
                    </div>
                </div>
            {% endif %}
        </section>
        {{ index | safe }}
    </body>
</html>