<html>
    <head>
        <title>Calculator!</title>
    </head>
    <body style="margin:0px;">
        <h1>Oil Loop Calculator</h1>
        <section name="calculator">
            <h1>Enter fuel, plastic and rubber to calculate.</h1>
            {% if form %}
                <form method="POST" action="{{ url_for('head') }}">
                    {{ form.csrf_token }}
                    {{ form.fuel.label }}
                    {{ form.fuel }}
                    {{ form.plastic.label }}
                    {{ form.plastic }}
                    {{ form.rubber.label }}
                    {{ form.rubber }}
                    <input type="submit" value="Submit">
                </form>
            {% endif %}
            {% if response %}
                <h1>Results</h1>
                <p>Total Oil: {{ totalOil }}</p>
                <p>Refineries making Recycled Plastic: {{ plasticRefineries }}</p>
                <p>Refineries making Recycled Rubber: {{ rubberRefineries }}</p>
            {% endif %}
        </section>
        <section id="information">
            <h2>What this calculator does</h2>
            <p>This calculator calculates rubber and plastic oil loops for Satisfactory.<br>
            If you do not want to produce fuel, and instead want to produce a different heavy oil residue product, or just heavy oil residue:<br>
            Enter the equivelant amount of fuel.</p>
        </section>
    </body>
</html>